<!--The content below is only a placeholder and can be replaced.-->

<div [ngStyle]="{'color':color,'font-size':size,'font-weight':'bold'}">
style using ngstyle
</div>
<input  [(ngModel)]="color" />
<button (click)="size = size + 1">+</button>
<button (click)="size = size + 1">-</button>
<br/>

 <!--<div style="text-align:center">--> 
  <div >
  <h1>
    Welcome to {{ title | uppercase }}!<br>
    {{myname | lowercase}}
  </h1>
<h3>
<p>without json pipe:</p>
<pre>{{object}}</pre>
<p>with a json Pipe:</p>
<pre>{{object | json}}</pre>

</h3>
<h1>Example 1: {{value1 | currency:'USD':false}}</h1>
<h1>Example 2: {{value2 | currency:'USD':true:'1.2-2'}}</h1>
<h1>Example 3: {{value2 | currency:'INR':true:'1.2-3'}}</h1>
<h1>Example 4: {{value1 | currency:'INR':true:'1.2-2'}}</h1>
</div>
