<!--The content below is only a placeholder and can be replaced.-->

<div [ngStyle]="{'color':color,'font-size':size,'font-weight':'bold'}">
style using ngstyle
</div>
<input  [(ngModel)]="color" />
<button (click)="size = size + 1">+</button>
<button (click)="size = size + 1">-</button>
<br/>

 <!--<div style="text-align:center">--> 
  <div >
  <h1>
    Welcome to {{ title | uppercase }}!<br>
    {{myname | lowercase}}
  </h1>
<h3>
<p>without json pipe:</p>
<pre>{{object}}</pre>
<p>with a json Pipe:</p>
<pre>{{object | json}}</pre>

</h3>

</div>
